In [1]:
spark.sql("create database my_db")

DataFrame[]

In [2]:
spark.sql("use my_db")

DataFrame[]

In [5]:
#spark.sql("drop table t1")
spark.sql("create table t1 (c1 int) using delta")

DataFrame[]

In [6]:
spark.sql("insert into t1 values(1)")

DataFrame[]

In [7]:
spark.sql("select * from t1").show()

+---+
| c1|
+---+
|  1|
+---+